DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://your username:your password@postgres:5432/your database name"
DATABASE_HOST="postgres"
DATABASE_PORT=5432
DATABASE_USERNAME="your username"
DATABASE_PASSWORD="your password"
DATABASE_DATABASE="your database name"

MODE="dev | prod"
LOGGER_APP="json | tskv